@model IEnumerable<Vets.Models.Veterinarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Veterinários</h1>

<p>
    <a asp-action="Create">Adicionar novo Veterinário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCedulaProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCedulaProf)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">
                    <img src="~/Imagens/Vets/@item.Fotografia" height="50" alt="imagem do veterinario @item.Nome" title="@item.Nome" />
                </a>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
